# contains files to ignore for this directory and all subdirectories
*.pyc
*.obj
*.suo
*.ncb
*.vcproj.*.user
*.opensdf
*.vcxproj.user
*.sdf
xcuserdata
.DS_Store
*.cache
*~
*.idea
*.iml
*.ilk
BuildLog.htm
*.idb
*.res
*.exe
*.manifest
*.pch
*.ipch
*.lib
*.pdb
*.dep
*.exp
*.dll
*.aps
*.o
*.pbxbtree
*.pbxuser
*.a
*.mode1v3
*.tlog
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.sbr
pbxindex.header
*.pbxsymbols
*.hmap
*.xcent
*.mobileprovision
build-state.dat
build-state~.dat
*.LinkFileList
log.txt
LogFile.Txt
plugins.ini
moc_*.cc
ui_*.h
.sconsign.dblite
*.sav
*.deuser
*.glsl
